.dialogs {
    padding: 70px 0;

    .dialogs__title {}

    .dialogs__sub-title {}

    .preys-grid {
        margin: 70px 0;
        // display: grid;
        // grid-template-columns: 1fr 1fr;

        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;

        li {
            // max-width: 50%;
            flex: 1 0 50%;
            padding: 10px;

            @media (max-width: 600px) {
                flex: 1 0 100%;
            }
        }
    }

    // <div id="dialogs" className="dialogs container">
    // 			<h1 className="dialogs__title">Диалоги</h1>
    // <h5 className="dialogs__sub-title">Выберите человека, чтобы посмотреть его диалоги</h5>

    // 			<ul className="preys-grid">
    // 				{Object.keys(this.props.preys).map(prey => (
    // 					<PreyItem
    // 						name={this.props.preys[prey].name}
    // 						avatar={this.props.preys[prey].avatar}
    // 						key={prey}
    // 					/>
    // 				))}
    // 			</ul>
    // 		</div>
}