.main {
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow-x: hidden;

    .header {}

    .page {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }

}