$header_height: 70px;
$header_bg: rgb(58, 58, 58);
$header_link_color: #fff;
$header_show_menu_icon_break_point: 767px;
$header_menu_icon_bg_color: #fff;

$light-color: #fff;
$dark-color: #000;

$container_width: 1100px;