//  ================== FONTS ================== //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//  ================== FONTS ================== //

//  ================== IMPORTS ================== //
@import 'nullstyle.scss';
// @import '_variables.scss';
@import '@vars';
//  ================== IMPORTS ================== //


// =================== S
body {
    font-family: Roboto;
}

// remove scrolling for all ._scroll-lock
*._scroll-lock {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.page {
    margin-top: $header_height;
}