//  ================== FONTS ================== //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

//  ================== FONTS ================== //

//  ================== IMPORTS ================== //
@import 'nullstyle.scss';
// @import '_variables.scss';
@import '@vars';
//  ================== IMPORTS ================== //


// =================== S
body {
    font-family: Roboto;
    overflow-x: hidden;
    color: white;
    background: rgb(59, 59, 59);
}

// remove scrolling for all ._scroll-lock
*._scroll-lock {
    overflow: hidden;
}

.page {
    // padding-top: $header_height;
}

.container {
    max-width: $container_width;
    margin: auto;
    padding: 0 10px;

    @media (max-width: $header_show_menu_icon_break_point) {
        padding: 0 20px;
    }
}

.full-screen {
    width: 100vw;
    height: 100vh;

    .full-screen__image {
        position: absolute !important;
        // background: url('../../assets/images/main-screen__bgc.jpg') no-repeat center center;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.btn {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000;
    background: rgb(0, 255, 0);
    padding: 18px 35px;
    border: none;
    cursor: pointer;
}

.btn-2 {}

.title {
    color: white;
    font-size: 38px;
    text-align: center;
    margin: 0;
}

.sub-title {
    color: rgb(190, 190, 190);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.main__section {
    position: relative;
    width: 100%;
}

input {
    background: #cecece;
    border: none;
}

::placeholder {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;
}